* {
    margin: 0 ;
    padding: 0;
}

html, body{
    height: 100vh;    
}

#sidebar {
    display: block;
    float: left;
    width: 16em;
    height: 100vh;
    background-color: #f8f8f8;

}

#main {
    overflow: scroll;
    height: 100vh;
    overflow-x: hidden;
}

.registerTitle {
    text-align: center;
    margin: 2em 0em 1em 0em;
}

.fieldName {
    display: block;
    margin: 2em;
}

#nomeInd {
    width: 60%;
    height: 2.5em;
    padding-left: 0.5em;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}

#nomeContra {
    width: 60%;
    height: 2.5em;
    padding-left: 0.5em;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}

#nomeOperador {
    width: 60%;
    height: 2.5em;
    padding-left: 0.5em;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}

#nomeCateg {
    width: 60%;
    height: 2.5em;
    padding-left: 0.5em;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}

.field {
    display: inline-block;
    width: 30%;
    margin-top: 1em;
    height: 10vh;
    padding: 1em;
}

.areaField {
    display: inline-block;
    width: 75%;
    height: 20vh;
    padding-left: 1em;
    margin-bottom: 1em;
}

#nome, #preco {
    width: 90%;
    height: 2.5em;
    padding-left: 0.5em;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}

#descricao {
    width: 80%;
    height: 6em;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.registerLogo {
    width: 90%;
    max-width: 12em;
    margin-top: 1em;
}

.formProduto {
    width: 100%;
    height: 45vh;
    text-align: center;
}

.formIndicacao {
    width: 100%;
    height: 20vh;
    text-align: center;
    width: 100%;
}

.formContra {
    width: 100%;
    height: 20vh;
    text-align: center;
    width: 100%;
}

.formCategoria {
    width: 100%;
    height: 20vh;
    text-align: center;
    width: 100%;
}

.formOperador {
    width: 100%;
    height: 20vh;
    text-align: center;
    width: 100%;
}

.registerForm {
    padding: 2em;
    height: auto;
    flex-direction: column;
    position: relative;
    float: left;
    display: inline;
    width: 100%;
}

.inputs {
    float: left;
    clear: left;
    display: inline-block;
    position: relative;
    justify-content: left;
    padding-left: 2em;
}


.registerButton {
    width: 25em;
    height: 2.5em;
    font-size: 13pt;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    background-color: #179942;
    border-radius: 5px;
    color: #fefefe;
    margin-left: 1em;
    display: inline-block;
}
.registerButton:hover {
    background-color: #07491d;
    cursor: pointer;
}

.buttonDiv {
    float: left;
    display: block;
    position: relative;
    justify-content: left;
    margin-left: 1em;
    vertical-align: middle;
    clear: left;
}
 
#tables {
    margin: auto;
    width: 80%;
    display: block;
    height: 2em;
    font-size: 13pt;
    margin-top: 1em;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    background-color: #e6e6e6;
}

.productTable, th, .tdTable {
    padding: 0.5em;
}

.trTable:nth-child(even) {background-color: #bde4b8;}


.productTable {
    border-collapse: collapse;
    display: inline-block;
    width: 100%;
}

.listtable {    
    width: 70%;
    text-align: center;
    display: block;
    margin: 3em auto;
}


label {
    display: block;
    margin-bottom: 0.5em;
}

.actions {
    text-decoration: none;
    color: #3a493f;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

.actions:hover {
    color: #60d386;
}


.icons {
    display: block;
    width: 5em;
}

#vendas {
    width: 10em;
    height: 5em;
    font-size: 15pt;
    border: 0;
    background-color: #179942;
    border-radius: 5px;
    color: #fefefe;
    margin: 1em ;
    display: inline-block;
    transition: width 0.5s;
}

#vendas:hover {
    background-image: linear-gradient(45deg, #107030, #2fc260);
    cursor: pointer;
    width: 10.5em;
}

#abrirMovimento {
    width: 10em;
    height: 5em;
    font-size: 15pt;
    border: 0;
    background-color: #dacd1f;
    border-radius: 5px;
    color: #fefefe;
    margin: 1em ;
    display: inline-block;
    transition: width 0.5s;
}

a {
    text-decoration: none;
}

#abrirMovimento:hover {
    background-image: linear-gradient(45deg, #cabd03, #e7db2e);
    cursor: pointer;
    width: 10.5em;
}

#cadastros {
    width: 10em;
    height: 5em;
    font-size: 15pt;
    border: 0;
    background-color: #0c4daf;
    border-radius: 5px;
    color: #fefefe;
    margin: 1em ;
    display: inline-block;
    transition: width 0.5s;    
}

#cadastros:hover {
    background-image: linear-gradient(45deg, #0c408d, #2a69c7);
    cursor: pointer;
    width: 10.5em;
}

#logout {
    width: 10em;
    height: 5em;
    font-size: 15pt;
    border: 0;
    background-color: #af0c0c;
    border-radius: 5px;
    color: #fefefe;
    margin: 1em;
    display: inline-block;
    transition: width 0.5s;
}

#logout:hover {
    background-image: linear-gradient(45deg, #860c0c, #ce3434);
    cursor: pointer;
    width: 10.5em;
}

#homelogo {
    display: block;
    margin: 1em auto;
    width: 20em;
}

#centraldiv {
    width: 100%;
    text-align: center;
}

#boasvindas {
    font-family: 'Montserrat', sans-serif;
    color: #3a493f;
}

#openMovimento {
    margin: 2em;
    font-family: 'Montserrat', sans-serif;
    color: #3a493f;
}


.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #2fc260; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 1em;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }