body {
    background-color: rgb(224, 224, 224);
}

header {
    width: 100%;
    height: 15vh;
    display: block;
}

.main {
    height: 80vh;
    font-family: 'Montserrat', sans-serif;
}

.leftAside {
    width: 70%;
    height: 100%;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}

.rightAside {
    width: 30%;
    height: 100%;
    display: inline-block;
    float: right;
    font-family: 'Montserrat', sans-serif;
}

footer {
    width: 100%;
    height: 5vh;
    background-color: #179942;
    color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    margin: 0;
    width: 12em;
    margin: 0.5em 0.5em 0.5em 4em;
}

.pdvButton {
    border: 0;
    background-color: #179942;
    border-radius: 5px;
    color: #fefefe;
    padding: 0.5em 1em;
    margin: 2em 1em 1em 1em;
    float: right;
    font-size: 15px;
    height: 60%;
    cursor: pointer;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
}

.pdvButton:hover {
    background-image: linear-gradient(45deg, #107030, #2fc260);
}

.pdvIcons {
    font-size: 18px;
    margin-right: 10px;
    vertical-align: middle;
}

.productDiv {
    width: 100%;
    height: 15%;
    display: block;
    float: left;
    margin-bottom: 0;
}

.detailsPurchase {
    width: 55%;
    height: 85%;
    display: block;
    float: left;
    margin-bottom: 0;
}

.itemsList {
    width: 45%;
    height: 85%;
    display: block;
    float: left;
    margin-bottom: 0;
}

.footerDiv {
    display: inline-block;
    float: left;
    clear: right;
    margin-left: 10em;
    margin-top: 0.3%;
    vertical-align: middle;
    font-size: 15px;
}

.footerIcons {
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
}

.tableBox {
    background-color: #fff;
    height: 60vh;
    width: 90%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: auto;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    text-align: left;
    overflow: scroll;
    overflow-x: hidden;
}

.tableBox::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.pdvTable {
    margin: 0 auto;
    justify-content: left;
    width: 100%;
    font-size: 10pt;
    font-family: "Lucida Console", Monaco, monospace;
}

.detailsDiv {
    width: 100%;
    margin: auto;
    display: inline-block;
}

.inputLabel {
    display: inline-block;
    height: 100%;
    margin-right: 0;
    margin-left: 3em;
    margin-top: 2em;
    float: inline-start;
}

#pdvCodigo,
#pdvQuantidade,
#pdvValorUnit,
#pdvTotal {
    width: 12em;
    height: 2em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    padding-left: 5px;
    display: inline-block;
    float: right;
    margin: 0.5em;
    color: #179942;
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
}

#pdvProduto {
    width: 80%;
    height: 2em;
    display: inline-block;
    margin: 0.5em;
    margin-right: 0em;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    float: right;
    color: #179942;
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
}

#pdvTotalPagar {
    width: 80%;
    height: 2em;
    margin: 0.5em auto;
    display: block;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    color: #179942;
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
}

#pdvDesconto {
    width: 80%;
    height: 2em;
    margin: 0.5em auto;
    display: block;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    color: #179942;
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
}

.prodInputLabel {
    height: 100%;
    margin-right: 0;
    margin-left: 3em;
    margin-top: 2em;
    display: inline-block;
    vertical-align: middle;
}

.receberButton {
    width: 20em;
    height: 4em;
    font-size: 1em;
    border: 0;
    background-color: #179942;
    border-radius: 5px;
    color: #fefefe;
    display: block;
    margin: 2em auto;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.receberButton:hover {
    background-image: linear-gradient(45deg, #107030, #2fc260);
}

.cancelarButton {
    width: 20em;
    height: 4em;
    font-size: 1em;
    border: 0;
    background-color: #CB0000;
    border-radius: 5px;
    color: #fefefe;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.cancelarButton:hover {
    background-image: linear-gradient(45deg, rgb(150, 26, 26), rgb(255, 57, 57));
}

#righttitle {
    color: #179942;
    font-size: 20pt;
    text-align: center;
    margin-top: 1em;
}

.listButton {
    border: none;
    background-color: #fff;
    cursor: pointer;
    padding: 5px;
    margin: 0 auto;
}

.listButton:hover {
    background-color: #CB0000;
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    margin: 2em auto;
    padding: 0.5em;
    border: 1px solid #888;
    width: 50%;
    height: 80vh;
}

.modalLeft {
    float: left;
    display: block;
    height: 100%;
    width: 55%;
}

.modalRight {
    float: left;
    display: block;
    height: 100%;
    width: 45%;
}

#modalValor,
#modalRecebido,
#modalTroco {
    width: 80%;
    height: 2em;
    margin: auto;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    padding-left: 5px;
    display: block;
    color: #179942;
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
}

.modalreceberButton {
    width: 80%;
    height: 4em;
    font-size: 1em;
    border: 0;
    background-color: #179942;
    border-radius: 5px;
    color: #fefefe;
    display: block;
    margin: 1em auto;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.modalreceberButton:hover {
    background-image: linear-gradient(45deg, #107030, #2fc260);
}

.modalLabel {
    font-family: 'Montserrat', sans-serif;
    color: #179942;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.2em;
}

.modalTitle {
    font-family: 'Montserrat', sans-serif;
    color: #179942;
    margin: 0.5em auto;
    text-align: center;
    display: inline-block;
    width: 100%;
}

#paymentmethods {
    margin: auto;
    width: 80%;
    display: block;
    height: 2em;
    font-size: 13pt;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.modalTableBox {
    background-color: #fff;
    height: 50vh;
    width: 90%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 1em auto;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    text-align: left;
    overflow: scroll;
    overflow-x: hidden;
}

.modalTableBox::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}